@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>
        <input type="text" id="data" name="data" placeholder="Введите строку для проверки" />
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </div>
</form>
